<?xml version="1.0"?>
<launch>
    <!-- 
        机械臂关节基础控制启动文件
        话题/arm_joint_angles
    -->

    <!-- 发布节点：arm_joint_publisher -->
    <node 
        name="arm_joint_publisher" 
        pkg="arm_control" 
        type="arm_joint_publisher.py" 
        output="screen"
    />

    <!-- 订阅节点：arm_state_subscriber -->
    <node 
        name="arm_state_subscriber" 
        pkg="arm_control" 
        type="arm_state_subscriber.py" 
        output="screen"
        launch-prefix="gnome-terminal -- bash -c 'python3 $(find arm_control)/scripts/arm_state_subscriber.py; echo; read -p &quot;按回车键关闭窗口...&quot;'"
    />

</launch>
